<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/005a86a1-924e-4475-8f17-bce0f104092f/resourceGroups/dm106-gruporecurso/providers/Microsoft.Web/sites/trabalho-dm106-hmv</ResourceId>
    <ResourceGroup>dm106-gruporecurso</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://trabalho-dm106-hmv.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>trabalho-dm106-hmv.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>trabalho-dm106-hmv</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$trabalho-dm106-hmv</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=dm106-dbserver.database.windows.net;Initial Catalog=dm106-db;Persist Security Info=True;User ID=henriqueAdmin;Password=&quot;6H&gt;~{nUEH;%+54u]&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DM106.Models.ApplicationDbContext, DM106" MigrationConfiguration="DM106.Migrations.Configuration, DM106" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=dm106-dbserver.database.windows.net;Initial Catalog=dm106-db;Persist Security Info=True;User ID=henriqueAdmin;Password="6H&gt;~{nUEH;%+54u]"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>